[submodule "Rdk"]
	path = Rdk
	url = ../Rdk
[submodule "Bin"]
	path = Bin
	url = ../Bin
[submodule "Libraries/Nmsdk-MotionControlLib"]
	path = Libraries/Nmsdk-MotionControlLib
	url = ../Libraries/Nmsdk-MotionControlLib
[submodule "Libraries/Nmsdk-PulseLib"]
	path = Libraries/Nmsdk-PulseLib
	url = ../Libraries/Nmsdk-PulseLib
[submodule "Libraries/Rdk-BasicLib"]
	path = Libraries/Rdk-BasicLib
	url = ../Libraries/Rdk-BasicLib
