[submodule "Rdk"]
	path = Rdk
	url = git@github.com:aicommunity/Rdk.git
        branch = master
[submodule "Bin"]
	path = Bin
	url = git@github.com:aicommunity/Nmsdk-Bin.git
        branch = master
[submodule "Libraries/Nmsdk-MotionControlLib"]
	path = Libraries/Nmsdk-MotionControlLib
	url = git@github.com:aicommunity/Nmsdk-MotionControlLib.git
        branch = master
[submodule "Libraries/Nmsdk-PulseLib"]
	path = Libraries/Nmsdk-PulseLib
	url = git@github.com:aicommunity/Nmsdk-PulseLib.git
        branch = master
[submodule "Libraries/Rdk-BasicLib"]
	path = Libraries/Rdk-BasicLib
	url = git@github.com:aicommunity/Rdk-BasicLib.git
        branch = master
[submodule "Libraries/Rdk-DarknetLib"]
	path = Libraries/Rdk-DarknetLib
	url = git@github.com:aicommunity/Rdk-DarknetLib.git
        branch = master
[submodule "Libraries/Rdk-CvBasicLib"]
	path = Libraries/Rdk-CvBasicLib
	url = git@github.com:aicommunity/Rdk-CvBasicLib.git
        branch = master
[submodule "Libraries/Rdk-PyMachineLearningLib"]
	path = Libraries/Rdk-PyMachineLearningLib
	url = git@github.com:aicommunity/Rdk-PyMachineLearningLib.git
        branch = master
[submodule "Libraries/Rdk-TensorflowLib"]
	path = Libraries/Rdk-TensorflowLib
	url = git@github.com:aicommunity/Rdk-TensorflowLib.git
        branch = master
[submodule "Libraries/Rdk-HardwareLib"]
	path = Libraries/Rdk-HardwareLib
	url = git@github.com:aicommunity/Rdk-HardwareLib.git
        branch = master
