[submodule "Rdk"]
	path = Rdk
	url = ../Rdk
[submodule "Bin"]
	path = Bin
	url = ../Bin
[submodule "Libraries/Nmsdk-MotionControlLib"]
	path = Libraries/Nmsdk-MotionControlLib
	url = ../Libraries/Nmsdk-MotionControlLib
[submodule "Libraries/Nmsdk-PulseLib"]
	path = Libraries/Nmsdk-PulseLib
	url = ../Libraries/Nmsdk-PulseLib
[submodule "Libraries/Rdk-BasicLib"]
	path = Libraries/Rdk-BasicLib
	url = ../Libraries/Rdk-BasicLib
[submodule "Libraries/Rdk-CvBasicLib"]
	path = Libraries/Rdk-CvBasicLib
	url = ../Libraries/Rdk-CvBasicLib
[submodule "Libraries/Rdk-PyMachineLearningLib"]
	path = Libraries/Rdk-PyMachineLearningLib
	url = ../Libraries/Rdk-PyMachineLearningLib
[submodule "Libraries/Rdk-TensorflowLib"]
	path = Libraries/Rdk-TensorflowLib
	url = ../Libraries/Rdk-TensorflowLib
